<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>


{% if request.user.is_authenticated %}
    <p>{{ request.user }}  用户, 您已经登录; <a href="{% url 'logout' %}">登出</a></p>

    <h1>老师,  您好: </h1>
    <p>请你在为学生们选课之前的时候,先操作列表中的测试姓名, 简单熟悉一下具体的流程,再为同学们选择课程</p>
    <p>选课的规则:</p>
    <p> 1.不能删除学生们自己选择的课程</p>
    <p> 2.选课后,如果当前课程满足了其最低开课人数, 也不能删除</p>
    <p> 3.不能超过最大开班人数</p>


{#    {% if messages %}#}
{#    {% for message in messages %}#}
{#    {{ message }}#}
{#    {% endfor %}#}
{#    {% endif %}#}
    <h2>(一) 调整选课</h2>
    <a href="{% url 'course_modify'%}"> 查看你所在的班级, 需要你为其修改课程的列表 </a>
    <h2>(二) 导出报表</h2>
    <a href="{% url 'course_export'%}"> 导出选课结果数据 </a>
    <h2>(三) 学生数据导入</h2>
    <a href="{% url 'student_import'%}"> 请导入学生信息 </a>
    <h2>(四) 学生密码充值</h2>

    <form action="changepwd4stu" method="post">
		{% csrf_token %}
        <p>通过学生教育id进行查询,修改</p>
		<input type="text" name="q">
		<input type="submit" value="修改">
	</form>

	<p>{{ rlt }}</p>

    <h2>(五) 年级升级</h2>
    <p>每次都是将全部的学生的年级进行提高,超过六年级的设置成毕业<p>
    <form action="addgrade" method="post">
		{% csrf_token %}
		<input type="submit" value="升级">
	</form>
    <p>{{ ag }}</p>

    <form action="degrade" method="post">
		{% csrf_token %}
		<input type="submit" value="降级">
	</form>
    <p>{{ dg}}</p>






{% else %}
    <p>您还没有登录<a href="{% url 'login' %}">登录</a></p>
{% endif %}
</body>
</html>