<!DOCTYPE HTML>
<html>
<head>
    <title>Course</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href='http://fonts.googleapis.com/css?family=Quattrocento+Sans' rel='stylesheet' type='text/css'>
    <link href="../../static/css/style.css" rel="stylesheet" type="text/css" media="all"/>
</head>
<body>
<div class="btm_border">
    <div class="h_bg">
        <div class="wrap">
            <div class="header">
                <div class="logo">
                    <h1><a href="{% url 'indexstudent' %}"><img src="../../static/images/log3.jpg" alt=""></a></h1>
                </div>
{#                <div class="social-icons">#}
{#                    <ul>#}
{#                        <br/>#}
{#                        <li><a class="facebook" href="#" target="_blank"> </a></li>#}
{#                        <li><a class="twitter" href="#" target="_blank"></a></li>#}
{#                        <li><a class="googleplus" href="#" target="_blank"></a></li>#}
{#                        <li><a class="pinterest" href="#" target="_blank"></a></li>#}
{#                        <li><a class="dribbble" href="#" target="_blank"></a></li>#}
{#                        <li><a class="vimeo" href="#" target="_blank"></a></li>#}
{#                    </ul>#}
{#                </div>#}
                <div class="clear"></div>
            </div>
            <div class='h_btm'>
                <div class='cssmenu'>
                    <ul>
                        <li><a href="{% url 'show_my_course' %}"><span>课表</span></a></li>
                        <li><a href="{% url 'indexstudent' %}"><span>选课规则</span></a></li>

                        <li class="active"><a href="{% url 'show_my_course' %}"><span>选课</span></a></li>
{#                        <li><a href="{% url 'grade' %}"><span>成绩</span></a></li>#}
{#                        <li class='has-sub'><a href="{% url 'bill' %}"><span>缴费</span></a></li>#}
                        <li class='has-sub'><a href="{% url 'course_canceled' %}"><span>公告</span></a></li>
                        <li class='last'><a href="{% url 'logout' %}"><span>登出</span></a></li>
                        <div class="clear"></div>
                    </ul>
                </div>
                <div class="search">
                    <form>
                        <input type="text" value="">
                        <input type="submit" value="">
                    </form>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
</div>
<!--main-->
<div class="main_btm">
    <div class="wrap">
        <div class="main">
            <div br class="about-us">
                <div class="about-header">
                    <h3 ALIGN="CENTER">课程总览</h3>
                    <p align="center"> 温馨提示: {{ notice_tishi }}</p>

                    <div class="clear"></div>
                </div>
                </br>
                </br>
                <div class="about-info" ALIGN="CENTER">
                    <table>
                        <tr VALIGN="TOP">
                            <th ALIGN="LEFT" HEIGHT=30>课程ID</th>
                            <th ALIGN="LEFT" WIDTH=200>课程名称</th>
                            <th ALIGN="LEFT" WIDTH=200>课程类型</th>
                            <th ALIGN="LEFT" WIDTH=200>上课时间</th>
                            <th ALIGN="LEFT" WIDTH=200>课程费用</th>
                            <th ALIGN="LEFT" WIDTH=200>已选人数</th>
                            <th ALIGN="LEFT" WIDTH=200>开班人数</th>
                            <th ALIGN="LEFT" WIDTH=200>最高人数</th>



                        </tr>

                        {% for classes in ml %}
                            <tr>
                                <td WIDTH=200> {{ classes.id }} </td>
                                <td WIDTH=200><a
                                        href="{% url 'mooc_detail' id=classes.id %}">{{ classes.course_name }}</a></td>
                                <td WIDTH=200>{{ classes.course_type }}   </td>
                                <td WIDTH=200>{{ classes.course_week }}   </td>
                                {% if owner == 1 %}
                                    <td WIDTH=200>{{ classes.course_price1 }}/学期   </td>
                                {% elif owner == 2 %}
                                    <td WIDTH=200>{{ classes.course_price2 }}/学期   </td>
                                {% elif owner == 3 %}
                                    <td WIDTH=200>{{ classes.course_price3 }}/学期   </td>
                                {% else %}
                                    <td WIDTH=200>{{ classes.course_price }}/学期   </td>
                                {% endif %}
                                <td WIDTH=200>{{ classes.course_choose.count }}   </td>
                                <td WIDTH=200>{{ classes.course_min_num }}   </td>
                                <td WIDTH=200>{{ classes.course_max_num }}   </td>


                            </tr>
                        {% endfor %}

                    {% for classes in long_ml %}
                            <tr>
                                <td WIDTH=200> {{ classes.id }} </td>
                                <td WIDTH=200><a
                                        href="{% url 'mooc_detail' id=classes.id %}">{{ classes.course_name }}</a></td>
                                <td WIDTH=200>{{ classes.course_type }}   </td>
                                <td WIDTH=200>{{ classes.course_week }}   </td>
                                {% if owner == 1 %}
                                    <td WIDTH=200>{{ classes.course_price1 }}/学期   </td>
                                {% elif owner == 2 %}
                                    <td WIDTH=200>{{ classes.course_price2 }}/学期   </td>
                                {% elif owner == 3 %}
                                    <td WIDTH=200>{{ classes.course_price3 }}/学期   </td>
                                {% else %}
                                    <td WIDTH=200>{{ classes.course_price }}/学期   </td>
                                {% endif %}


                                <td WIDTH=200>{{ classes.course_choose.count }}   </td>
                                <td WIDTH=200>{{ classes.course_min_num }}   </td>
                                <td WIDTH=200>{{ classes.course_max_num }}   </td>

                            </tr>
                        {% endfor %}


                    </table>
                </div>
                <div class="specials">

                </div>
            </div>

        </div>
        <!--footer-->
        <div class="footer-bg">
            <div class="wrap">
                <div class="footer">
{#                    <div class="box1">#}
{#                        <h4 class="btm">年级概括</h4>#}
{##}
{#                        <p>小学1-5年纪的学生,在选修课的选择上可以根据学生自己的兴趣和特点,选择适合自己的课程。</p>#}
{##}
{#                        <p>当遇到问题时，可及时联系网络管理中心，我们会为广大学生朋友们提供力所能及的帮助。</p>#}
{#                    </div>#}
{#                    <div class="box1">#}
{#                        <h4 class="btm">课程种类</h4>#}
{#                        <nav>#}
{#                            <ul>#}
{#                                <p>选修课分为标准，特色，高端三种类型。 </p>#}
{##}
{#                                <p>每个类别的课程里面会包含不同类型的课程</p>#}
{#                            </ul>#}
{#                        </nav>#}
{#                    </div>#}
{#                    <div class="box1">#}
{#                        <h4 class="btm">学校信息</h4>#}
{##}
{#                        <div class="box1_address">#}
{#                            <p>地址：北京市丰台区</p>#}
{##}
{#                            <p>信息管理：怡海分校信息管理处 </p>#}
{##}
{#                            <p>技术维护：怡海分校信息网络中心 </p>#}
{##}
{#                            <p>管理员信箱：690008262@qq.com</p>#}
{##}
{#                            <p>管理员QQ：690008262</p>#}
{#                        </div>#}
{#                    </div>#}
                    <div class="clear"></div>
                </div>
            </div>
        </div>
        <div class="clear"></div>
        <!--footer1-->
        <div class="ftr-bg">
            <div class="wrap">
                <div class="footer">
                    <div class="copy">
                        <p class="w3-link">&copy; Copyright &copy; 2016.YHXX All rights reserved.</p>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
        <div style="display:none">
            <script src='http://v7.cnzz.com/stat.php?id=155540&web_id=155540' language='JavaScript'
                    charset='gb2312'></script>
        </div>
</body>
</html>