<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>消息</title>
</head>

<script type="text/javascript">
    function go() {//定义函数
        window.location = "{% url 'show_my_course' %}";//页面跳转
    }
    window.setTimeout("go()", 2000); //2.0秒后执行函数go
</script>

<body>
{#{% if messages %}#}
{#<ul class="messages">#}
{#    {% for message in messages %}#}
{#    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>#}
{#    {% endfor %}#}
{#</ul>#}
{#{% endif %}#}
<p>{{ messages }}</p>
<p>两秒钟后, 将自动返回主页</p>
</body>
</html>